/* styleFormulaire.css */

/* Styling for the form */
.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.btn-outline-dark {
    color: #343a40;
    background-color: #fff;
    border-color: #343a40;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

/* Additional styling for the form */
.mb-3 {
    margin-bottom: 1.5rem;
    padding : 5px 10px;
}

.mb-2{
    text-align: center;
}

.mt-md-4 {
    margin-top: 2rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.fw-bold {
    font-weight: bold;
}

.d-grid {
    display: grid;
}

.border{
    color: red;
}

.btnInscr{
    text-align: center;
    align-items: center;
}

#regi{
    text-align: center;
}

#dl {
    position: absolute;
    right: 30px;
    top:10px;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 0px;
        background: #eae9e9;
        color: #cb1515;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #ffffff;
            background: #cccccc;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

.navig{
    text-decoration: none;
    color:black;

}

.navig:hover{
    color: wheat;
    background-color: blueviolet;
}

.infos{
    margin-top: 20vh;
    margin-bottom: 10vh;
}

th, td{
    border: 10px solid red;
    padding: 10px;
}

td{
    border: 10px solid black;
}

.hor{
    border-collapse: separate;
    border-spacing: 20px;
}

.suppCren{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}